@font-face {
  font-family: 'Romeral Inline';
  src: url('fonts/romeral_inline-webfont.eot');
  src: local('☺'),
         url('fonts/romeral_inline-webfont.woff') format('woff'), url('romeral_inline-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Romeral';
  src: url('fonts/romeral-webfont.eot');
  src: local('☺'),
         url('fonts/romeral-webfont.woff') format('woff'), url('romeral-webfont.ttf') format('truetype');
}
/* General HTML tags */
html { }
body { font-family: Verdana; line-height: 150%; color: #444;}
h1, h2, h3, h4, h5 { color: #663333; font-family: Georgia; font-style: italic; font-weight: bold;}
h1 { font-size: 36px; margin-top: 20px;}
h2 { font-size: 22px; margin-top: 20px;}
h3 { font-size: 18px; margin-top: 20px;}
legend { margin-left: 20px; }
table { margin-top: 20px; }
th, td { padding-right: 20px; }
th { font-weight: bold; font-family: georgia; font-style: italic;}
ol, ul { margin-top: 15px; }
li { list-style: circle; margin-left: 40px; }
p { margin-top: 15px; line-height: 150%; }
a, a:link, a:active, a:visited, a:hover { color: #f63; }
a.current,a:hover { color: #ff3333; }
code { color: #633; }
fieldset { margin-top: 20px; border: 1px solid #000; padding: 20px;}
fieldset ul { margin-top: 0px; }
form li { list-style: none; }
form li label { display: block; width: 175px; float: left; text-align: right; margin-right: 20px; }
strong { font-weight: bold; }
em { font-style: italic; }
/* ID's */
#wrapper {
	padding: 20px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
#footer {
	float:right;
}

/* Classes */
h1.rapidlogo { 
	color: #222; 
	line-height: 1; 
	margin: 0; 
	font-size: 46px; 
	font-family: 'Romeral Inline', Georgia;
	font-weight: normal;
	font-style: italic;
}
h2.rapidlogo { 
	color: #222;
	line-height: 1;
	margin: 0px 0px 30px 25px;
	padding: 0px;
	font-family: Georgia;
}

ul.menu { float: right; margin-top: -100px; }
ul.menu li {margin: 0; display: inline; padding: 0px 8px 0px 3px; border-right: 1px solid #000;}
ul.menu li.last { border-right: 0px; }
ul.menu a, ul.menu a:active, ul.menu a:visited, ul.menu a:hover { text-decoration: none;}
ul.menu a:hover { text-decoration: underline; }